<h1 class="header subh" >Contact me</h1>

<div class="form-container">
    <form class="form">
        <input class="inp" type="text" name="name" placeholder="Name" required>
        <input class="inp" type="email" name="email" placeholder="Email" required>
        <input class="inp" type="text" name="phone" placeholder="Phone" >
        <textarea class="inp tarea" placeholder="Write me a message....." ></textarea>
        <input class="inp sbtn" type="submit" value="Submit">
    </form>
</div>