<h1 class="header subh" >Contact me</h1>

<div class="form-container">
    <form class="form">
        <input class="inp" type="text" id="name" name="name" placeholder="Name" required>
        <input class="inp" type="email" id="email" name="email" placeholder="Email" required>
        <input class="inp" type="tel" id="phone" name="phone" placeholder="Phone" >
        <input class="inp" type="text" id="subject" name="subject" placeholder="Subject" >
        <textarea class="inp tarea" id="message" placeholder="Write me a message....." ></textarea>
        <input id="sub" class="inp sbtn" type="submit" value="Send">
    </form>
</div>