 <div class="foot-container foot">
   
    <div class="social-footer foo">
       <img class="ins-img" src="images/instagram.png" />
    </div>
    <div class="foo" id="ad"><a href="admin">Admin</a></div>
    <footer class="footer foo" >&copy;HairByAnita 2022</footer>

 </div>