<div class="nav-container">
    <div class="navbar">
        <a class="logoLink" href="/">
            <img class="logo" alt="Anita's logo (scissors)"
             src="images/scissors.png"/>
        </a>
        <a class="navEl" href="services">Services</a>
        <a class="navEl" href="gallery">Gallery</a>
        <a class="navEl" href="contact">Contact me</a>
    </div>

</div>