/* contact css */
.form-container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    /* border: black solid 1px; */
}

.inp{
    height: 25px;
    width: 100%;
    display: block;
    margin-top: 1rem;
    border: black solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
}

.tarea{
    height: 100px;
    width:200px;

}

.sbtn{
    background-color: cyan;
    float: right;
}