<div class="services-container">
    <h1 class="header subh">Services</h1>
    <ul class="list-services">
        <li class="service top-list">Root Touch Up <span class="price">$105</span></li>
        <li class="service">All Over Color <span class="price">$135 & up</span></li>
        <li class="service">Partial Highlights <span class="price">$185 & up</span></li>
        <li class="service">Full Highlights <span class="price">$215 & up</span></li>
        <li class="service">Parrial Balayage <span class="price">$195 & up</span></li>
        <li class="service">Full Baayage <span class="price">$225 & up</span></li>
        <li class="service">Haircuts <span class="price">$80</span></li>
        <li class="service">Blowout Style <span class="price">$55 & up</span></li>
    </ul>  
</div>